<div class="page-header">
  <%= link_to "New Source",
              new_source_path,
              :class => 'btn btn-primary pull-right' %>
  <h1>Proxy Sources</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Proxies (current/max)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Source.all.each do |source| %>
      <tr>
        <td>
          <%= link_to source.name, source_path(source) %>
          <% unless source.persistent_errors.empty? %>
            <span class="label label-danger"><%= pluralize(source.persistent_errors.count,"error") %></span>
          <% end %>
        </td>
        <td><%= source.class.display_name %></td>
        <td><%= source.proxies.active.count %> / <%= source.max_proxies %></td>
        <td>
          <%= link_to "Edit", edit_source_path(source), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
