<div class="page-header">
  <h1>Settings</h1>
</div>

<div class="form-horizontal">
  <% @config.keys.each do |key| %>
    <div class="form-group">
      <label for="<%= key %>ValueField" class="col-sm-3 control-label"><%= key %></label>
      <%= form_tag(config_set_path, method: 'POST', class: 'form-inline') do %>
        <div class="col-sm-9">
          <input type="hidden" name="key" value="<%= key %>">
          <div class="input-group">
            <input id="<%= key %>ValueField" class="form-control" type="text" name="value" placeholder="Value" value="<%= @config[key] %>">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Update</button>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>