<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zartan" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <% if current_user %>
      <%= nav_bar brand: 'Zartan', static: :top, responsive: true do %>
        <%= menu_group do %>
          <%= menu_item "Activity", activity_path %>
          <%= menu_item "Sites", sites_path %>
          <%= menu_item "Sources", sources_path %>
          <%= menu_item "Settings", config_path %>
          <%= menu_item "API Keys", api_keys_path %>
          <%= menu_item "Sign out", signout_path %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% unless current_user %><br/><% end %>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
  </body>
</html>
